<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Qdrant Reverse Proxy" stopProcessing="true">
                    <match url="(.*)" />
                    <!-- L'adresse IP doit être celle de la machine qui héberge Docker/Qdrant -->
                    <action type="Rewrite" url="http://192.168.0.47:6333/{R:1}" logRewrittenUrl="true" />
                    <serverVariables>
                        <set name="HTTP_X_FORWARDED_HOST" value="qdrant.myia.io" />
                        <set name="HTTP_X_FORWARDED_PROTO" value="https" />
                        <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
                        <set name="HTTP_HOST" value="qdrant.myia.io" />
                    </serverVariables>
                </rule>
            </rules>
            <outboundRules>
                <rule name="RewriteLocationHeader" preCondition="IsRedirection">
                    <match serverVariable="RESPONSE_Location" pattern="^http://(192.168.0.47:6333)/(.*)" />
                    <action type="Rewrite" value="https://qdrant.myia.io/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="IsRedirection">
                        <add input="{RESPONSE_STATUS}" pattern="3\d\d" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" /> <!-- 100 MB -->
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>